<!-- xml version="1.0"? -->
<launch>

    <arg name="bagfiles" />
    <arg name="topic_file" />

    <!-- Rectify images -->
    <node pkg="image_proc" name="image_proc" type="image_proc" ns="/raw_images" required="true"/>
    <node pkg="image_view" name="image_saver" type="image_saver" ns="/raw_images" image="/image_rect_color" required="true"/>

    <!-- This node runs the show, reading bag files, publishing, and saving content -->
    <node pkg="rectified_from_bag" name="rectified_from_bag" type="extract.py" args="--bagfiles $(arg bagfiles) --topic-file $(arg topic_file)" output="screen" required="true"/>

</launch>
